exp-transport-web/src/main/mule/exp-web-rou.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="bc4bf480-3dd0-4051-a7ad-07eaed99bf21" >
		<http:request-connection host="localhost" port="8089" />
	</http:request-config>
	<flow name="exp-web-rouFlow" doc:id="f5dd49cb-eb5c-4dd6-a69b-dff0ca96ea16" >
		<http:request method="GET" doc:name="Request" doc:id="76a535a2-5177-492f-bb23-857549257bc9" path="/api/{transportType}/routes" config-ref="HTTP_Request_configuration">
			<http:headers ><![CDATA[#[output application/java
---
{
	"transactionid" : attributes.queryParams.transactionid
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
	"transportType": attributes.uriParams.transportType,
	"transportCompany" : attributes.queryParams.companycode
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"departurelocationcode" : attributes.queryParams.departurelocationcode,
	"destinationlocationcode" : attributes.queryParams.destinationlocationcode
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="317fbb39-af9f-4e88-bed0-7ae0b5a7a5df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
